name: Repository update
on:
  push:
  repository_dispatch:
    types: ["Repository update"]
  workflow_dispatch:
    inputs:
      partial:
        type: boolean
        description: "Add https://repo.armbian.com/partial/ to stable repo"
        default: false

concurrency:
  group: pipeline
  cancel-in-progress: false

jobs:

  Check:

    name: "Check membership" # Only release manager can execute this manually
    runs-on: ubuntu-latest
    steps:

      - name: "Check membership"
        uses: armbian/actions/team-check@main
        with:
          ORG_MEMBERS: ${{ secrets.ORG_MEMBERS }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TEAM: "Release manager"

  external:
    name: "Download external"
    needs: Check

    if: ${{ github.repository_owner == 'Armbian' }}
    uses: armbian/armbian.github.io/.github/workflows/download-and-test-external.yml@repoupdate
    with:
      ACCESS_NAME: armbian
      BUILD_RUNNER: "ubuntu-latest"
      HOST_DEPLOY: "repo.armbian.com"
    secrets:
      GPG_KEY1: ${{ secrets.GPG_KEY3 }}
      GPG_KEY2: ${{ secrets.GPG_KEY4 }}
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      KEY_UPLOAD: ${{ secrets.KEY_UPLOAD }}      
      HOST_UPLOAD: ${{ secrets.HOST_UPLOAD }}
      HOST_UPLOAD_USER: ${{ secrets.HOST_UPLOAD_USER }}
      HOST_UPLOAD_PORT: ${{ secrets.HOST_UPLOAD_PORT }}
      KNOWN_HOSTS_ARMBIAN_UPLOAD: ${{ secrets.KNOWN_HOSTS_ARMBIAN_UPLOAD }}